*
{
    margin: 0;
    padding: 0;
}
.navbar-nav {
    margin-left: auto;
    margin-right: 90px;
    padding-top: 30px;
}
body {
    font-family: sans-serif;
}
#nav-bar {
    top: 0;
    z-index: 10;
}
.navbar-nav li {
    padding: 0 10px;
}
.navbar-nav li a {
    font-weight: 600;
    text-align: left;
    float: right;
}
.navbar-brand {
    padding-top: 30px;
    padding-left: 89px;
}
.navbar {
    background-image: none;
}
.fa-bars {
    color: white;
    font-size: 30px !important;
}
.navbar-toggler {
    outline: none !important;
}

/* home section */
#home {
    color: black;
    padding-top: 5%;
}
.my-title {
    font-weight: 600;
    font-size: 40px;
    margin-top: 70px;
}
.img-fluid {
    margin-left: 116px;
    margin-top: 120px;
}
.cute {
    color: yellowgreen;
    background-color: blue;
    padding: 15px 15px;
    position: relative;
    bottom: 235px;
    margin-left: 119px;
}
.tune {
    background-color: white;
    height: 208px;
    position: relative;
    bottom: 100px;
    margin-left: 100px;
    box-shadow: 0 1px 2px -1px;
    margin-top: 6px;
}
.tube {
    background-color: white;
    height: 130px;
    position: absolute;
    position: relative;
    bottom: 100px;
}
.dodo {
    margin-top: 200px;
    margin-left: 400px;
    margin-bottom: 150px;
}
.pin {
    margin-left: 400px;
    position: relative;
    bottom: 200px;
}
